* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, rgb(32, 58, 58), rgb(48, 42, 88), rgb(50, 71, 50), rgb(35, 63, 63));
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, darkslategray, darkslateblue);
    z-index: 1000;
}

.content-section {
    padding: 20px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

h3 a {
    font-size: 20px;
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

h3 a:hover {
    color: cyan;
}

.attractions-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.image-container {
    position: relative;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(46, 42, 42, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 97.5%;
}

.attraction-card:hover .description{
    opacity: 1;
    visibility: visible;
}

.attraction-card {
    background: transparent;
    box-shadow: 0px 4px 6px black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.attraction-card:hover {
    transform: translateY(-10px);
}

.attraction-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.attraction-card p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.attraction-card:hover p {
    transform: translateX(-50%) translateY(0);
}

.card {
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 474px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: black;
    color: rgb(31, 41, 55);
}

.card-front img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 18px;
    color: rgb(75, 85, 99);
}

.card-back {
    background-color: rgb(37, 99, 235);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card-back p {
    font-size: 18px;
}