* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, rgb(32, 58, 58), rgb(48, 42, 88), rgb(50, 71, 50), rgb(35, 63, 63));
    color: white;
    line-height: 1.6;
    min-height: 100vh; /* Ensures body takes up at least full height of the viewport */
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, darkslategray, darkslateblue);
    z-index: 1000;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    transition: background 0.1s ease;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 75px;
}

.navbar .logo a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .logo a:hover {
    color: black;
}

.navbar .logo a::after {
    display: inline;
    margin-right: 20px;
    content: '';
    background-color: black;
    border-radius: 100%;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 300ms ease-in-out;
}

.navbar .logo a {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navbar .logo a:hover::after {
    width: 100%;
}


.navbar .nav-links {
    list-style-type: none;
}

.navbar .nav-links li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navbar .nav-links li::after {
    display: inline;
    margin-right: 20px;
    content: '';
    background-color: black;
    border-radius: 100%;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 300ms ease-in-out;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar .nav-links a:hover {
    color: black;
}

.navbar .nav-links li:hover::after {
    width: 100%;
}

.intro {
    margin: 10px;
    position: relative;
    text-align: center;
    color: white;
}

.intro video {
    border-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.about {
    padding: 20px 20px;
    color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(46, 42, 42, 0.6);
    background: transparent;
}

.about h3 {
    color: deepskyblue;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.about-text ul li {
    font-size: 15px;
    margin: 5px;
}

footer {
    background: linear-gradient(to right, darkslategray, darkslateblue);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left {
    flex-direction: column;
}

.footer-left p {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

.footer-left a button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: darkcyan;
}

.footer-left a button:hover {
    background-color: dodgerblue;
    transform: translateY(-2px);
}

.footer-right {
    display: flex;
    align-items: center;
}

.social-links a {
    font-size: 15px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.social-links a:hover {
    color: black;
    text-decoration: underline;
}

.footer-center {
    text-align: center;
    width: 100%;
}

footer p:last-child {
    font-size: 13px;
    opacity: 0.7;
}
