* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background:linear-gradient(to bottom, darkslategray,darkslateblue,aquamarine, darkslategray);
    color: #333;
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    background:linear-gradient(to left, darkslategray,aquamarine);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar .logo a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links {
    list-style-type: none;
}

.navbar .nav-links li {
    display: inline;
    margin-right: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}

.intro {
    margin: 10px;
    position: relative;
    text-align: center;
    color: white;
}

.intro video {
    border-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.cta-btn {
    background-color: #ffcc00;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #ff9900;
}

.content-section {
    padding: 20px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

#landmarks .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#accommodation .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#reztows .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.etivac {
    padding: 20px 20px;
    color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(46, 42, 42, 0.6);
    text-align: center;
    background: transparent;

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.attractions-container,
.accommodation-container,
.food-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.image-container {
    position: relative;
}

.description {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(46, 42, 42, 0.7);
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-height: 97.2%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.attraction-card:hover .description,
.accommodation-card:hover .description,
.food-card:hover .description {
    opacity: 1;
    text-align: center;
    top: 0;
}

.attraction-card,
.accommodation-card,
.food-card {
    background:transparent;
    box-shadow: 0px 4px 6px black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.attraction-card:hover,
.accommodation-card:hover,
.food-card:hover {
    transform: translateY(-10px);
}

.attraction-card img,
.accommodation-card img,
.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.attraction-card h2,
.accommodation-card h2
.food-card h2 {
    margin-top: 5px;
    font-size: 1.5rem;
    color: white;
}

.attraction-card p,
.accommodation-card p
.food-card p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
    padding: 10px;
    text-align: center; 
    transition: transform 0.3s ease-in-out;
}

.attraction-card:hover p,
.accommodation-card:hover p
.food-card:hover p {
    transform: translateX(-50%) translateY(0);
}

footer {
    background:linear-gradient(to right, darkslategray,aquamarine);
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-links a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .intro-text h1 {
        font-size: 2rem;
    }

    .cta-btn {
        font-size: 1rem;
    }

    .attractions-container,
    .accommodation-container
    .food-container {
        grid-template-columns: 1fr;
    }

    .attraction-card,
    .accommodation-card
    .food-card {
        margin: 20px 0;
    }
}
